@import 'src/infra/styles/templates.module';

.container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

.textWrapper {
  @extend %flex;
  font-size: var(--font-size-primary);
  background: var(--color-bg-primary);
  color: var(--color-light);
  width: max-content;
  min-height: calc(var(--font-size-primary) * 2);
  max-height: calc(var(--font-size-primary) * 2);
  padding: 0.5rem;
  margin: 1rem auto;
  border-radius: var(--font-size-primary);
  position: relative;
  animation: tip 3s;
}

@keyframes tip {
  0% {
    transform: translateY(-200%);
  }
  5% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}