@import 'src/infra/styles/templates.module';

.navigation {
  width: 100%;
  margin: 5px;

  ul {
    @extend %flex;
    column-gap: 5px;
    list-style-type: none;
    justify-content: space-evenly;

    li {
      a {
        color: var(--color-light);
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

      }
      a.activeLink {
        color: var(--color-focused);
        text-shadow: var(--color-focused) 10px 0 10px;;
      }
    }
  }
}