$font-size: var(--font-size-primary);

.submitBtn, .submitBtn:focus {
  cursor: pointer;
  font-size: $font-size;
  padding: 1rem;
  background: transparent;
  border: 1px solid var(--color-focused);
  color: var(--color-focused);
  transition: 0.8s;

  &:hover {
    color: var(--color-focused);
    background-color: white;
  }

  &:disabled {
    cursor: default;
    opacity: .5;

    &:hover {
      background: transparent;
      color: var(--color-focused);
    }
  }
}