* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-size: 25px;
}

:root {
  --color-light: white;
  --color-dark: #626161;
  --color-focused:  #f07f81;
  --color-bg-primary: black;
  --font-size-primary: 16px;
  --font-size-secondary: 25px;
}