@import 'src/infra/styles/templates.module';

.footer {
  background: var(--color-bg-primary);
  color: var(--color-light);
  @extend %flex;
  flex-direction: column;
  row-gap: 10px;

  & > .info {
    font-size: 20px;

    & .copy {
      font-weight: bold;
      margin-left: 2px;
    }
  }

  .icons {
    @extend %flex;
    column-gap: 5px;

    a {
      color: var(--color-light);

      * {
        border: 2px solid var(--color-light);
        border-radius: 2px;
        font-size: 50px;
        padding: 5px;
      }
    }
  }
}