@import '../../infra/styles/templates.module';

.header {
  position: relative;
  background: var(--color-bg-primary);
  @extend %flex;
  align-items: flex-end;
}

.bg {
  @extend %within-parent;
  filter: blur(20px) invert(1);
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}