@import 'src/infra/styles/templates.module';

$font-size: var(--font-size-primary);

.fieldContainer {
  @extend %flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.underField {
  height: 2px;
  position: relative;
  top: -1px;
  transition: 0.5s ease;
  width: 0;
}

.text {
  pointer-events: none;
  position: absolute;
  background: white;
  top: 15px;
  left: 17px;
  font-size: $font-size;
  color: var(--color-dark);
  transition: 0.5s ease;
}

.field:focus {
  outline: none;
}

.input {
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  background-color: white;
  height: 50px;
  color: #626161;
  border: 1px solid #31383d;
  transition: all 0.5s;
  padding: 0.9em 1em;
  box-shadow: none !important;
  font-size: $font-size;
}

.field:focus + .underField {
  background-color: var(--color-focused);
  width: 100%;
}

.field:focus + .underField + .text {
  color: var(--color-focused);
  position: absolute;
  top: calc($font-size / -2);
  left: calc($font-size / 2);
  padding: 0 5px;
}

.focusedDiv {
  background-color: var(--color-focused);
  width: 100%;
}

.focusedText {
  color: var(--color-focused);
  position: absolute;
  top: calc($font-size / -2);
  left: calc($font-size / 2);
  padding: 0 5px;
}

.textarea {
  overflow: auto;
  height: 215px;
  position: relative;
  resize: none;
}

.textarea::-webkit-scrollbar {
  width: 2px;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-focused);
  border-radius: 3px;
}